<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974012134672-too7mongug90992qjn74l8tblbfb4gap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974012134672-too7mongug90992qjn74l8tblbfb4gap</string>
	<key>API_KEY</key>
	<string>AIzaSyBPSex6-w_JxI1bzrZHEc9Xl_j1Q9QYLfc</string>
	<key>GCM_SENDER_ID</key>
	<string>974012134672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metature.metature2</string>
	<key>PROJECT_ID</key>
	<string>metature-3d682</string>
	<key>STORAGE_BUCKET</key>
	<string>metature-3d682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974012134672:ios:4525d066f60df99d7ae195</string>
</dict>
</plist>